<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<!--配置-->
<configuration>
    <!--配置-->
    <properties resource="db.properties"></properties>

    <!--环境模式，development开发模式，work工作模式-->
    <environments default = "development">
        <!--环境变量-->
        <environment id = "development">
            <!--事务管理器-->
            <transactionManager type = "JDBC"/>
            <!--数据源-->
            <dataSource type = "POOLED">
                <property name = "driver" value = "${db.driver}"/>
                <property name = "url" value = "${db.url}"/>
                <property name = "username" value = "${db.username}"/>
                <property name = "password" value = "${db.pwd}"/>
            </dataSource>
        </environment>
    </environments>

    <!--映射器-->
    <mappers>
        <!--因为resource就是在类路径下，在maven项目中，java下面的包都是类路径-->
        <mapper resource = "mapper/EmployeeMapper.xml"/>
        <mapper resource = "mapper/User.xml"/>
        <mapper resource = "mapper/StatusRecord.xml"/>
        <mapper resource = "mapper/CodeRatio.xml"/>

    </mappers>

    <!--需要注意的是配置项的顺序不能颠倒，如果颠倒了它们的顺序，在MyBatis的自启动阶段会发生异常，导致程序无法运行-->
</configuration>